/* =================================== */
/* Gridfield overflow fix */
/* =================================== */

.cms .elements-gridfield {
  overflow: visible;
}

/* =================================== */
/* Type info */
/* =================================== */

.element-icon {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
}

.element-type {
  display: inline-block;
  margin-right: 5px;
}

/* =================================== */
/* Summary */
/* =================================== */

.element-summary:after {
  content: "";
  display: table;
  clear: both;
}

.element-summary-content {
  overflow: hidden;
}

.element-summary-img {
  float: left;
  margin-right: 10px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.element-summary-title {
  font-weight: bold;
  font-size: 110%;
}

.element-summary-txt {
  padding-top: 5px;
}

/* =================================== */
/* State pills */
/* =================================== */

.element-state {
  color: #ffffff;
  background: #1f9433;
  display: inline-block;
  padding: 2px 3px;
  margin: 0 3px;
  border-radius: 2px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: none;
  line-height: 1;
  cursor: default;
  font-weight: normal;
}

.element-state.inactive {
  background: #98aab6;
}

.element-state.modified {
  background: #f46b00;
}

.action_createdefaults {
  margin-top: 16px;
}

.element-icon {
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 767.98px) {
  .grid-field__table td,
  .grid-field__table th {
    display: table-cell !important;
  }
}
