/* =================================== */
/* Gridfield overflow fix */
/* =================================== */

.cms .elements-gridfield {
  overflow: visible;
}

/* =================================== */
/* State pills */
/* =================================== */

.element-state {
  color: #ffffff;
  background: #1f9433;
  display: inline-block;
  padding: 3px 3px 1px 3px;
  margin-right: 6px;
  border-radius: 2px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: none;
  line-height: 1;
  cursor: default;
}

.element-state.inactive {
  background: #98aab6;
}

.element-state.modified {
  background: #f46b00;
}

.cms-page-info {
  margin-bottom: 10px;
}
